<ion-header>
  <ion-toolbar>
    <ion-title>Personal Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  
    <ion-item>
        <ion-label ></ion-label>
      </ion-item>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
          <ion-label color="primary" position="floating" id= "employee_id1" >Employee ID:</ion-label>
  <ion-input ></ion-input>
  </ion-item>
  </ion-col>
  <ion-col>
      <ion-item>
    <ion-label color="primary" position="floating" id= "employee_name1" >Employee Name:</ion-label>
    <ion-input ></ion-input>
  </ion-item>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid> 
    <ion-row>
        <ion-col>   
  <ion-item>
      <ion-label color="primary" position="floating" id= "date_of_birth1" >Date Of Birth:</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY"></ion-datetime>
  </ion-item>
</ion-col>
<ion-col>
    <ion-item>
        <ion-label color="primary" position="floating" id= "blood_group1">Blood Group:</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>  

<ion-grid> 
    <ion-row>
        <ion-col> 
      <ion-item>
          <ion-label color="primary" position="floating" id= "phone_number1">Phone Number:</ion-label>
          <ion-input ></ion-input>
      </ion-item>
    </ion-col>
        <ion-col>
      <ion-item>
            <ion-label color="primary" position="floating" id= "e_mail1">E-mail Address:</ion-label>
            <ion-input placeholder="@email.com" type="e-mail" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid> 
    <ion-row>
        <ion-col>
      <ion-item>
              <ion-label color="primary" position="floating" id= "residence1">Residence:</ion-label>
              <ion-textarea ></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
                <ion-label color="primary" position="floating" id= "emergency_contact_number1">Emergency Contact Number:</ion-label>
                <ion-textarea ></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid> 
    <ion-row>
        <ion-col>
      <ion-item>
                  <ion-label color="primary" position="floating" id= "qualification1" >Qualification:</ion-label>
                  <ion-input ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
          <ion-label color="primary" position="floating" id= "date_of_joining1">Date of joining:</ion-label>
          <ion-datetime display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid> 
    <ion-row>
        <ion-col>
      <ion-item>
          <ion-label color="primary" position="stacked" id= "kye_details1">KYE details (with scanned ID proofs):</ion-label>
          <ion-input type="file" color="primary" ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
          <ion-label color="primary" position="stacked" id= "driving_licence1">Driving license (if any):</ion-label>
          <ion-input type="file" color="primary"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid> 
    <ion-row>
        <ion-col>
      <ion-item>
          <ion-label color="primary" position="floating" id= "insurance_number1">Insurance no (if any):</ion-label>
          <ion-input color="primary"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
          <ion-label color="primary" position="stacked" id= "pf_esi_details1">PF/ESI details:</ion-label>
          <ion-input type="file" color="primary"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid> 
    <ion-row>
        <ion-col>
      <ion-item>
          <ion-label color="primary" position="floating" id= "attendance1">Attendance:</ion-label>
          <ion-input ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
          <ion-label color="primary" position="floating" id= "awards_and_recognition1">Awards and recognition:</ion-label>
          <ion-input ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid> 
    <ion-row>
        <ion-col>
      <ion-item>
          <ion-label color="primary" position="floating" id= "warnings_and_memo1">Warnings and memo:</ion-label>
          <ion-input ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
          <ion-label color="primary" position="floating" id= "leave_available1">Leave available:</ion-label>
          <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid> 
  <ion-row>
    <ion-col>
    <ion-item>
        <ion-label color="primary" position="floating" id= "leave_consumed1">Leave Consumed:</ion-label>
        <ion-input ></ion-input>
    </ion-item>
    </ion-col>
  <ion-col>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label color="primary" id= "gender1">Gender</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" value="biff" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Others</ion-label>
        <ion-radio slot="start" value="oriff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
  <ion-col col-2></ion-col>   
  <ion-button shape="round" color="secondary" href="http://192.168.2.116:8100/tabs/tab1" >Back</ion-button>        
  <ion-col col-3></ion-col>
  <ion-button shape="round" color="secondary" href="http://192.168.2.116:8100/submitted" >Submit</ion-button>
  <ion-col col-3></ion-col>            
  </ion-row>
  </ion-grid>
  </ion-content>