<ion-header>
    <ion-toolbar>
      <ion-title>
        Submitted
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
      <ion-card class="submit-card">
          <ion-card-header>          </ion-card-header>
          <ion-card-content>
            <p>Your Information has been Submitted</p>
            <ion-button size="small" shape="round" color="secondary" href="http://192.168.2.116:8100/tabs/tab1" >Back</ion-button>        
          </ion-card-content>
        </ion-card>
  </ion-content>